.navbar {
  --height: 100px;
  --bg: black;

  width: 100%;
  z-index: 1000;

  box-shadow: var(--shadow);

  transition:
    top 0.5s;

  .topRow {
    display: flex;
    justify-content: center;

    width: 100%;
    height: 40px;

    margin-top: 10px;
  }

  .left {
    position: absolute;
    left: 10px;

    display: grid;

    gap: 5px;
    
    .row {
      width: 100%;
      display: flex;
      align-items: stretch;

      gap: 10px;
    }

    .mailIcon,
    .icon {
      width: 30px;
      height: 30px;

      fill: currentColor;
      color: var(--text);
      cursor: pointer;

      transition: color 0.2s, scale 0.2s;

      &:hover {
        scale: 1.1;
        color: white;
      }

      &:active {
        scale: 1.3;
        color:white;

        transition: color 0.1s, scale 0.1s;
      }
    }

    .mailIcon {
      width: 25px;
      height: 25px;
    }

    .link {
      font-size: 16px;
      transition: color 0.2s, font-size 0.2s;
      text-align: center;
      cursor: pointer;

      &:hover {
        font-size: 17px;
        color: #93D2FF;

        text-decoration: underline;
      }
    }
  }

  .right {
    position: absolute;
    right: 10px;
  }
    
  .name {
    position: absolute;
    left: 100px;
    right: 100px;
    height: 100%;
    font-family: var(--heading);
    font-weight: 500;
    color: var(--text-h);
    font-size: 32px;
    white-space: nowrap;
    pointer-events: none;
  }

  .pretentiousQuote {
    font-style: italic;
    height: 40px;
  }
}

#visible {
  position: fixed;
  left: 0px;

  background-color: var(--bg);

  box-shadow: inherit;
  width: inherit;
  transition: inherit;

}

#hidden {
  position: fixed;
  left: 0px;
  background-color: var(--bg);

  box-shadow: inherit;
  width: inherit;
  transition: inherit;
}

.titles {
  width: calc(100% - 20px);
  
  border-radius: 5px;
  gap: 8px;
  padding-bottom: 10px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
  .musicIcon,
  .icon {
    width: 20px;
    height: 20px;

    min-width: 20px;
    min-height: 20px;

    fill: currentColor;
    color: var(--text);
  }

  .musicIcon {
    width: 16px;
    height: 16px;

    min-width: 16px;
    min-height: 16px;
  }
  
  .title {
    font-size: 16px;
    width: auto;
    height: 35px;
    border: 2px solid transparent;
    border-radius: 6px;
    border-color: var(--text);
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 0px 5px;
    
    line-height: 14px;
  }

  .titleSeperator {
    width: 2px;
    height: 30px;
    border-radius: 2px;
    align-self: center;
    background-color: var(--text);
  }
}